.git
target
.xsh-linux-tools
.out/*
!.out/source-mirrors/
!.out/source-mirrors/**
!.out/laputa-bootstrap-musl-repo/
!.out/laputa-bootstrap-musl-repo/index.json
!.out/laputa-bootstrap-musl-repo/packages/
!.out/laputa-bootstrap-musl-repo/packages/**
!.out/laputa-bootstrap-musl-repo/.out/
!.out/laputa-bootstrap-musl-repo/.out/source-mirrors/
!.out/laputa-bootstrap-musl-repo/.out/source-mirrors/**
!.out/laputa-bootstrap-*-repo/
!.out/laputa-bootstrap-*-repo/**
!.out/laputa-bootstrap-build-essential-native-repo/
!.out/laputa-bootstrap-build-essential-native-repo/index.json
!.out/laputa-bootstrap-build-essential-native-repo/packages/
!.out/laputa-bootstrap-build-essential-native-repo/packages/**
